<div
  class="drop-column"
  [ngClass]="{ 'p-draggable-enter': isDragOver }"
  pDroppable="true"
  (drop)="onDrop($event, weekDayDate)"
  (dragover)="onDragOver($event)"
>
  <p-table [value]="(items$ | async)!" [columns]="cols">
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <h5 class="m-0">{{ generateCaption(weekDayDate) }}</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col" style="width: 3rem"></th>
        <th scope="col" *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <!-- 1 header za custom kolone -->
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-index="rowIndex"
    >
      <tr
        [pReorderableRow]="index"
        pDraggable="true"
        (dragstart)="onDragStart($event, rowData)"
        (onDragEnd)="dragEnd()"
      >
        <td>
          <span class="pi pi-bars" pReorderableRowHandle></span>
        </td>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <div class="flex justify-content-end">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editItem(rowData)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteItem(rowData)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
