<div class="flex flex-column" style="height: 100%">
  <div class="card">
    <div class="grid">
      <ng-container *ngFor="let dayData of weekData$ | async">
        <div class="col-3">
          <app-todo
            [items$]="dayData.items$"
            [weekDayDate]="dayData.weekDayDate"
            [cols]="cols"
          >
          </app-todo>
        </div>
      </ng-container>
    </div>

    <p-toolbar styleClass="mb-4">
      <div class="my-2">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
      </div>
      <p-selectButton
        [options]="weekdays"
        [(ngModel)]="currentDay"
        optionLabel="name"
        optionValue="value"
        (onChange)="onDayChange($event)"
      >
      </p-selectButton>
    </p-toolbar>

    <div class="grid">
      <div class="col-6">
        <p-table
          [value]="(oneTimeItems$ | async)!"
          [columns]="cols"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div
              class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
              <h5 class="m-0">Samo jednom</h5>
            </div>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-index="rowIndex"
          >
            <tr
              [ngClass]="{ 'cursor-pointer': currentDay }"
              [pReorderableRow]="index"
              (click)="assignItemToSelectedWeekday(rowData, currentDay)"
            >
              <td class="w-2rem">
                <span class="pi pi-bars" pReorderableRowHandle></span>
              </td>
              <td *ngFor="let col of columns">
                <span>{{ rowData[col.field] }}</span>
              </td>
              <td>
                <div class="flex justify-content-end">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-rounded p-button-info mr-2"
                    (click)="completeItem(rowData)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="editItem(rowData)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteItem(rowData)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="col-6">
        <p-table
          [value]="(recurringItems$ | async)!"
          [columns]="cols"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div
              class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
              <h5 class="m-0">Ponavljajući</h5>
            </div>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-index="rowIndex"
          >
            <tr
              [ngClass]="{
                'cursor-pointer': currentDay,
                'row-background-color': rowData.committedDate !== null
              }"
              [pReorderableRow]="index"
              (click)="assignItemToSelectedWeekday(rowData, currentDay)"
            >
              <td class="w-2rem">
                <span class="pi pi-bars" pReorderableRowHandle></span>
              </td>
              <td *ngFor="let col of columns">
                <span>{{ rowData[col.field] }}</span>
              </td>
              <td>
                <div class="flex justify-content-end">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="editItem(rowData)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteItem(rowData)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="grid">
      <div class="col-6">
        <ng-container *ngFor="let notepad of notepads$ | async">
          <app-notepad [notepad]="notepad"></app-notepad>
        </ng-container>
      </div>
    </div>

    <button
      pButton
      pRipple
      label="New Editor"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="createNewNotepad()"
    ></button>
  </div>
</div>
