<div class="flex flex-column" style="height: 100%">
  <div class="card">
    <div class="grid">
      <ng-container *ngFor="let dayData of weekData$ | async">
        <div class="col-3">
          <app-todo
            [items$]="dayData.items$"
            [weekDayDate]="dayData.weekDayDate"
            [cols]="cols"
          >
          </app-todo>
        </div>
      </ng-container>
    </div>

    <p-toolbar styleClass="mb-4">
      <div class="my-2">
        <button
          pButton
          pRipple
          label="Novi task"
          icon="pi pi-plus"
          class="p-button-info mr-2"
          (click)="openNew()"
        ></button>
      </div>
      <p-selectButton
        [options]="weekdays"
        [(ngModel)]="currentDay"
        optionLabel="name"
        optionValue="value"
        (onChange)="onDayChange($event)"
      >
      </p-selectButton>
    </p-toolbar>

    <div class="grid">
      <div class="col-6">
        <div pDroppable="true" (drop)="onDrop($event, false)">
          <p-table
            [value]="(oneTimeItems$ | async)!"
            [columns]="cols"
            [rowHover]="true"
            dataKey="id"
            (onRowReorder)="onRowReorder($event)"
          >
            <ng-template pTemplate="caption">
              <div
                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
              >
                <h5 class="m-0">Jednokratni</h5>
                <button
                  pButton
                  [icon]="
                    (oneTimeItemsOrderLocked$ | async)!
                      ? 'pi pi-lock'
                      : 'pi pi-lock-open'
                  "
                  class="p-button-rounded mr-2"
                  [ngClass]="{
                    'p-button-success': (oneTimeItemsOrderLocked$ | async),
                    'p-button-warning': !(oneTimeItemsOrderLocked$ | async)
                  }"
                  (click)="lockOrUnlockTableOrder(itemTaskType.OneTimeItemTask)"
                ></button>
              </div>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
              let-index="rowIndex"
            >
              <tr
                [ngClass]="{
                  'cursor-pointer':
                    currentDay && (oneTimeItemsOrderLocked$ | async),
                  'row-background-color': rowData.committedDate !== null
                }"
                [pReorderableRow]="index"
                (dragstart)="onDragStart($event, rowData)"
                (click)="assignItemToSelectedWeekday(rowData, currentDay)"
              >
                <td class="w-2rem">
                  <span
                    *ngIf="!(oneTimeItemsOrderLocked$ | async)"
                    class="pi pi-bars"
                    pReorderableRowHandle
                  ></span>
                </td>
                <td *ngFor="let col of columns">
                  <span>{{ rowData[col.field] }}</span>
                </td>
                <td>
                  <div class="flex justify-content-end">
                    <button
                      pButton
                      pRipple
                      icon="pi pi-check"
                      class="p-button-rounded p-button-info mr-2"
                      (click)="completeItem(rowData)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-success mr-2"
                      (click)="editItem(rowData)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-warning"
                      (click)="deleteItem(rowData)"
                    ></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="col-6">
        <div pDroppable="true" (drop)="onDrop($event, true)">
          <p-table
            [value]="(recurringItems$ | async)!"
            [columns]="cols"
            [rowHover]="true"
            dataKey="id"
            (onRowReorder)="onRowReorder($event)"
          >
            <ng-template pTemplate="caption">
              <div
                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
              >
                <h5 class="m-0">Ponavljajući</h5>
                <button
                  pButton
                  [icon]="
                    (recurringItemsOrderLocked$ | async)!
                      ? 'pi pi-lock'
                      : 'pi pi-lock-open'
                  "
                  class="p-button-rounded mr-2"
                  [ngClass]="{
                    'p-button-success': (recurringItemsOrderLocked$ | async),
                    'p-button-warning': !(recurringItemsOrderLocked$ | async)
                  }"
                  (click)="
                    lockOrUnlockTableOrder(itemTaskType.RecurringItemTask)
                  "
                ></button>
              </div>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
              let-index="rowIndex"
            >
              <tr
                [ngClass]="{
                  'cursor-pointer':
                    currentDay && (recurringItemsOrderLocked$ | async),
                  'row-background-color': rowData.committedDate !== null
                }"
                [pReorderableRow]="index"
                (dragstart)="onDragStart($event, rowData)"
                (click)="assignItemToSelectedWeekday(rowData, currentDay)"
              >
                <td class="w-2rem">
                  <span
                    *ngIf="!(recurringItemsOrderLocked$ | async)"
                    class="pi pi-bars"
                    pReorderableRowHandle
                  ></span>
                </td>
                <td *ngFor="let col of columns">
                  <span>{{ rowData[col.field] }}</span>
                </td>
                <td>
                  <div class="flex justify-content-end">
                    <button
                      pButton
                      pRipple
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-success mr-2"
                      (click)="editItem(rowData)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-warning"
                      (click)="deleteItem(rowData)"
                    ></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-divider />

    <button
      pButton
      pRipple
      label="Novi Notepad"
      icon="pi pi-plus"
      class="p-button-info mr-2"
      (click)="createNewNotepad()"
    ></button>

    <div class="grid">
      <ng-container *ngFor="let notepad of notepads$ | async">
        <div class="col-6 mt-3">
          <app-notepad [notepad]="notepad"></app-notepad>
        </div>
      </ng-container>
    </div>
  </div>
</div>
