<div class="topbar"></div>

<!-- zakomentiran sidebar -->
<!-- <div class="sidebar"></div> -->

<!-- parent body mu daje 100%, što ja proslijeđujem dalje
     moram dati i flex, i to sve kao wrapper tako da main content mogu pomaknut
     marginama od topbara i sidebar-a da izbjegnem "margin collapsing" zbog position fixed -->
<div class="flex" style="height: 100%">
  <!-- margine moraju bit udaljene za visinu i širinu topbar i sidebar, pusha se od flexa
       a ne od topbara, pa se ne collapsa margin -->
  <!-- padding sa svih strana malo odmakne main prema unutra -->
  <!-- margin-left: 7rem; vratit ako koristim sidebar -->
  <main style="margin-top: 7rem; width: 100%; padding: 1rem">
    <router-outlet></router-outlet>
  </main>
</div>
