<form [formGroup]="form">
  <p-editor formControlName="content" [style]="{ height: '320px' }"> </p-editor>

  <div class="flex mt-3">
    <button
      pButton
      pRipple
      label="Spremi Notepad"
      icon="pi pi-save"
      class="p-button-success mr-2"
      (click)="saveNotepad()"
      [disabled]="form.invalid || !form.dirty"
    ></button>
    <button
      pButton
      pRipple
      label="Obriši Notepad"
      icon="pi pi-trash"
      class="p-button-danger mr-2"
      (click)="deleteNotepad()"
    ></button>
    <p-inputNumber class="notepad-row-index ml-auto" formControlName="rowIndex">
    </p-inputNumber>
  </div>
</form>
