<form [formGroup]="form">
  <p-editor
    id="content"
    formControlName="content"
    [style]="{ height: '640px' }"
  >
  </p-editor>

  <div class="flex mt-3">
    <button
      pButton
      [label]="'notepad.save' | translate"
      icon="pi pi-save"
      class="p-button-success mr-2"
      (click)="saveNotepad()"
      [disabled]="form.invalid || !form.dirty"
    ></button>
    <button
      pButton
      [label]="'notepad.delete' | translate"
      icon="pi pi-trash"
      class="p-button-danger mr-2"
      (click)="deleteNotepad()"
    ></button>
    <p-inputNumber class="notepad-row-index ml-auto" formControlName="rowIndex">
    </p-inputNumber>
  </div>
</form>
