<form [formGroup]="form" style="height: 500px">
  <div class="field flex flex-column">
    <label for="description">* {{ "editItem.description" | translate }}</label>
    <input
      type="text"
      pInputText
      id="name"
      formControlName="description"
      autofocus
    />
    @if ( this.form.get('description')?.invalid &&
    this.form.get('description')?.dirty) {
    <small class="ng-dirty ng-invalid">
      {{ "editItem.description.required" | translate }}
    </small>
    }
  </div>

  <div class="field">
    <label for="recurring">* {{ "editItem.taskType" | translate }} </label>
    <p-selectButton
      [options]="stateOptions"
      formControlName="recurring"
      optionLabel="label"
      optionValue="value"
    >
    </p-selectButton>
  </div>

  <div class="field">
    <label class="w-full" for="dueDate"
      >{{ "editItem.dueDate" | translate }}
    </label>
    <p-calendar
      formControlName="dueDate"
      [showButtonBar]="true"
      dateFormat="dd/mm/yy"
    ></p-calendar>
  </div>

  <div class="field">
    <label for="recurring">{{ "editItem.renewOnDueDate" | translate }} </label>
    <p-selectButton
      [options]="renewOptions"
      formControlName="renewOnDueDate"
      optionLabel="label"
      optionValue="value"
    >
    </p-selectButton>
  </div>

  <div class="field flex justify-content-center">
    <div class="flex flex-wrap gap-3">
      <div class="flex align-items-center">
        <p-radioButton
          name="intervalType"
          [value]="intervalType.Days"
          formControlName="intervalType"
          inputId="ingredient1"
        />
        <label for="ingredient1" class="ml-2">
          {{ "editItem.days" | translate }}
        </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="intervalType"
          [value]="intervalType.Months"
          formControlName="intervalType"
          inputId="ingredient2"
        />
        <label for="ingredient2" class="ml-2">
          {{ "editItem.months" | translate }}
        </label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="w-full" for="intervalValue"
      >{{ "editItem.intervalValue" | translate }}
    </label>
    <p-inputNumber formControlName="intervalValue"> </p-inputNumber>
  </div>
</form>

<button
  pButton
  [label]="'cancel' | translate"
  icon="pi pi-times"
  class="p-button-text"
  (click)="hideDialog()"
></button>
<button
  pButton
  [disabled]="form.invalid"
  [label]="'save' | translate"
  icon="pi pi-check"
  class="p-button-text"
  (click)="saveItem()"
></button>
