<form [formGroup]="form" style="height: 500px">
  <div class="field flex flex-column">
    <label for="description">Description</label>
    <input
      type="text"
      pInputText
      id="name"
      formControlName="description"
      autofocus
      [ngClass]="{
        'ng-invalid ng-dirty': description?.invalid && description?.dirty
      }"
    />
    <small
      *ngIf="description?.invalid && description?.dirty"
      class="ng-dirty ng-invalid"
    >
      Description is required.
    </small>
  </div>

  <div class="field">
    <label for="recurring">To do only once?</label>
    <p-selectButton
      [options]="stateOptions"
      formControlName="recurring"
      optionLabel="label"
      optionValue="value"
    >
    </p-selectButton>
  </div>

  <div class="field">
    <label for="recurring">Renew on Due date or completion date?</label>
    <p-selectButton
      [options]="renewOptions"
      formControlName="renewOnDueDate"
      optionLabel="label"
      optionValue="value"
    >
    </p-selectButton>
  </div>

  <div class="field">
    <label class="w-full" for="dueDate"
      >Must be completed by certain date?
    </label>
    <p-calendar formControlName="dueDate" [showButtonBar]="true"></p-calendar>
  </div>

  <div class="field">
    <label class="w-full" for="intervalValue"
      >How many days between task repeats?
    </label>
    <p-inputNumber formControlName="intervalValue"> </p-inputNumber>
  </div>

  <div class="field flex justify-content-center">
    <div class="flex flex-wrap gap-3">
      <div class="flex align-items-center">
        <p-radioButton
          name="intervalType"
          [value]="intervalType.Days"
          formControlName="intervalType"
          inputId="ingredient1"
        />
        <label for="ingredient1" class="ml-2"> Days </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="intervalType"
          [value]="intervalType.Months"
          formControlName="intervalType"
          inputId="ingredient2"
        />
        <label for="ingredient2" class="ml-2"> Months </label>
      </div>
    </div>
  </div>
</form>

<!-- ne smije biti unutar form jer cancel napravit refresh cijelog page-a -->
<button
  pButton
  pRipple
  label="Cancel"
  icon="pi pi-times"
  class="p-button-text"
  (click)="hideDialog()"
></button>
<button
  pButton
  [disabled]="form.invalid"
  label="Save"
  icon="pi pi-check"
  class="p-button-text"
  (click)="saveItem()"
></button>
